<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AltoHttp" version="1.5.2" targetFramework="net472" />
  <package id="Cake.Powershell" version="1.0.1" targetFramework="net472" />
  <package id="Gapotchenko.Eazfuscator.NET" version="2022.1.464" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>